:root {
  --primary: #7289da;
  --white: #fff;
  --light-gray: #99aab5;
  --dark-gray: #2c2f33;
  --darker-gray: hsl(206, 9%, 15%);
  --darkest-gray: hsl(206, 15%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 4rem 15rem auto;
}

.server {
  background: var(--darkest-gray);
}

.channels {
  background: var(--dark-gray);
}


.chat > header {
  width: 100%;
  background: var(--darker-gray);
  height: 3rem;
  border-bottom: solid 2px var(--darkest-gray);
}

.chat > .grid {
  display: grid;
  grid-template-columns: auto 15rem;
  height: 100%;
}

.chat .texts {
  height: 100%;
  background: var(--darker-gray);
}

.chat .users {
  height: 100%;
  background: var(--darkest-gray);
}
